@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


html {
  font-size: 62.5%;
  font-weight: 300;
  scroll-behavior: smooth;
  color: var(--color-6);
}

body{
  font-family: "Jost", sans-serif;
  font-size: var(--fonte-normal);
  overflow-x: hidden;
}

section h2{
  font-size: var(--fonte-extra-grande);
  margin-bottom: 20px;
}

.container{
  display: flex;
  align-items: center;
}

.padding-top{
  padding-top: 10rem;
}

.social-media a, .mail {
  display: inline-block;
  width: 40px;
  font-size: 1.8rem;
  text-align: center;
  margin: 0 4px;
  border-radius: 50%;
  transition: all 0.3s ease;
  background-color: var(--color-bg);
  color: var(--color-6);

}

.social-media a:hover {
  color: var(--color-1);
}

.social-media a i {
  line-height: 40px;
}

.mail{
  display: flex;
  border-radius: 10px;
  width: 32rem;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1px 0;
  gap: 10px;
}

.container .mail .e-mail-main{
  font-size: 1.8rem;
}

.outer-shadow {
  box-shadow:  3px 3px #222327, -3px -3px 3px #454545;
}

.inner-shadow {
  box-shadow:  inset 3px 3px 3px #222327, inset -3px -3px 3px #454545;
}




