.projects{
    display: flex;
    flex-direction: column;
    height: 40rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10rem;
    background-color: var(--color-6);
}

.projects h2{
    color: var(--color-white);
    padding-bottom: 2rem;
}

.projects .buttons {
    position: absolute;
    width: 90%;
    color: var(--color-white);
    font-size: 1.7em;
    justify-content: space-between;
}

.project{
    display: none;
}

.selected{
    display: flex;
}

.projects .project a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.projects .project img{
    height: 25rem;
    max-width: 30rem;
    min-height: 25rem;
}

.projects .project a:hover img {
    opacity: 0.5;
}

.projects .project a:hover .project-information {
    color: var(--color-1);
}

.projects .project .project-information{
    color:var(--color-white);
    max-width: 30rem;
}

.projects .project .project-information h3{
    font-size: var(--fonte-grande);
}

.projects .project .project-information p{
    font-size: var(--fonte-normal);
}

#back{
    position: absolute;
    left: 0;
    cursor: pointer;
}

#next{
    position: absolute;
    right: 0;
    cursor: pointer;
}