:root{
    --color-bg: rgb(196, 206, 212);

    --color-white:#fff;
    --color-1: rgb(184,126,88);
    --color-2: rgba(56, 65, 134, .9);
    --color-4: rgb(223, 180, 137);
    --color-5: rgb(65,65,65);
    --color-6: rgb(46,73,66);


    --fonte-gigante: 4.5rem;
    --fonte-extra-grande: 3rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;

    --mobile-padding: 10px;
  }
