@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --color-background: #F5F5F5;   /* fundo principal */
  --color-primary: #0A0F1C;      /* cor principal (títulos, botões, ícones) */
  --color-surface: #FAF9F6;      /* superfícies e destaques sutis */
  --color-light-dark: #a7a4a4;         /* detalhes escuros suave */
  --color-accent: #E1BFA5;       /* cor de apoio (tons de pele/avatar) */
  --color-warning: #f8a5a5;
}

html{
  color: var(--color-primary);
  font-family: "Inter", sans-serif;
  background: var(--color-background);
  scroll-behavior: smooth;
}

body {
  color: var(--color-primary);
  margin: 2rem 4rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(228, 209, 209, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  background: var(--color-primary);
  color: var(--color-background);
}

li, a{
  list-style: none;
  text-decoration: none;
  color: var(---text-color);
}  

.Container {
  padding-left: 2rem;
}

h2 {
  font-size: 2rem;
}
@media (max-width:531px){
  body{
    margin: 2rem 1rem;
  }
  .Container{
    padding-left: 0;
  }
}
